*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  
  }
  
  .body {
    text-align: center;
    font-family: sans-serif;
    }


    .head{
      display:flex ;
      align-items: center;
      justify-content: space-between;
      height: 63px;
      background-color:#2E86C1;
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    .navbar{
      display: flex;
      margin-right: 10%;
    }
    .logo{
      margin-left: 30px;
    }

    .logoa {
      text-decoration: none;
      color: aliceblue;
      text-transform: uppercase;
      font-size: 20px;
    }

    .navbara{
      display: block;
      padding: 23px 20px;
      color: aliceblue;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
    }

    .navbara:hover{
      background-color: aqua;
    }
    .header{
      display:flex ;
      align-items: center;
      justify-content: space-between;
      height: 63px;
      background-color:#2E86C1;
      position: fixed;
      width: 100%;
      z-index: 100;
      display:flex;
      justify-content: center;
      align-items: center;
      }
      .fonter{
        position: fixed;
        width: 100%;

      }